<h1>Listing Snippets<h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= snippet.name %></td>
    <td><%= link_to 'Edit', "snippets/#{snippet.id}" %></td>
    <td><%= link_to 'Destroy', "snippets/#{snippet.id}", confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

